/* src/components/MembersPage.css */

.members-page {
    background: radial-gradient(hsl(100 100% 60%), hsl(200 100% 60%)) fixed;
    background: conic-gradient(hsl(100 100% 60%), hsl(200 100% 60%), hsl(100 100% 60%)) fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

  }
  .full-page{
    height: 1300px;
  }
  .member-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
  }
  
  .member-card {
    background-color: rgba(255, 255, 255, 0.925);
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color:black;
  }
  .member-card .member-card-header{
    color: black;
    font-size: 1.5rem;
  }
  
  .member-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .member-card h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .member-card p {
    margin: 5px 0;
  }
  
  .member-card a {
    color: #00694E;
    text-decoration: none;
  }
  
  .member-card a:hover {
    text-decoration: underline;
  }
  