html {
    color: #F9F7ED;
    background-color: #242424;
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 1200px;
    margin: 0 auto;
    background-color: #121212;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #060606;
    overflow: hidden;
    position: relative;
    width: 47%;
    left: 26%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #F9F7ED;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #F9F7ED;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #00694E;
    color: #F9F7ED;
  }

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

img {
    display: block;
    margin: 0 auto;
    width: 0.4;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

a {
    color: #00694E;
}